* {
background: black;
	color: white;
	
 }


.main-header {
	display: flex;
	flex-direction: row;
	margin: 15px;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
}
